*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* color: white; */
    font-family:  Helvetica, sans-serif;
}

main,
footer{
    padding: 2rem;
    text-align: center;
}

h1,
h2,
p,
div {
    margin-bottom: 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

main > section.wrapper{
    width: 60%;
    height: 500px;
    background-color: aqua;

    position: relative;
}

section.wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: none;
}

section.wrapper img.active{
    display: inline-block;
}

button{
    position: absolute;
    display: inline-block;
    /* font-size: 1.5rem; */
    background-color: rgba(255,255,255, .9);
    border-radius: 50%;
    border: none;
    top: 50%;
    height: 50px;
    width: 50px;
    transform: translateY(-50%);
    transition: all .5s ease-out;
}

button:hover{
    background-color: rgb(255, 198, 255);
}

button.prev{
    left: .5rem;
}

button.next{
    right: .5rem;
}



.bg-aliceblue{
    background-color: aliceblue;
}

.bg-yellow{
    background-color: gold;
}

.bg-cyan{
    background-color: cyan;
}

.bg-green{
    background-color: lime;
}

.bg-blue{
    background-color: rgb(154, 154, 255);
}

.text-green{
    color: limegreen;
}

.text-red{
    color: brown;
}